/* 메인 페이지 스타일 -index.html */
/* 본문의 기본 글꼴 설정 */
body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background: linear-gradient(-45deg, #ffc, #fcf, #cff, #cfc, #ccc);
}

/* 하이퍼링크 스타일 */
a {
  text-decoration: none;
  color: #555;
}

/* 컨테이너 레이아웃 */
.container {
  margin: 50px;
  display: flex;
  flex-flow: row wrap;
  gap: 20px;

  h1,
  h2 {
    margin-block: 10px;
  }

  h1 {
    inline-size: 100%;
  }
  .group {
    flex: 1;
    min-inline-size: max-content;
  }
}
